@model IEnumerable<ProjectViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if ((AuthorizationService.AuthorizeAsync(User, PermissionsMaster.Project.Create)).Result.Succeeded)
{
    <h1>My Unpublished Projects</h1>

    <p>
        <a asp-controller="Project" asp-action="Create">Create New</a><text> | </text>
        <a asp-controller="Project" asp-action="Index">View All Published Projects</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                    <td>@Html.DisplayFor(modelItem => item.StatusName)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}