@model IList<CommentViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>User</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.UserNameAndRank)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @if ((AuthorizationService.AuthorizeAsync(User, PermissionsMaster.Comment.Edit)).Result.Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><text> | </text>
                    }
                    @if ((AuthorizationService.AuthorizeAsync(User, PermissionsMaster.Comment.Delete)).Result.Succeeded)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>